



@import "tailwindcss";

#root {
  font-family: 'Inter', sans-serif;
  font-optical-sizing:auto ;
  font-style: normal;
}

@theme{
  --color-TrendDrift-red:#019dc0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE & Edge */
}
